@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --primary: 214 84% 30%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
    --muted: 210 40% 96%;
    --muted-foreground: 215 16% 47%;
    --accent: 210 40% 96%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 214 84% 30%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .gov-gradient {
    background: linear-gradient(135deg, hsl(214 84% 30%) 0%, hsl(214 84% 22%) 100%);
  }
  .gov-stripe {
    background: linear-gradient(90deg, hsl(28 94% 52%) 0%, hsl(28 94% 52%) 33%, white 33%, white 66%, hsl(152 60% 36%) 66%, hsl(152 60% 36%) 100%);
  }
}
